<h1>Voilà la page de cet utilisateur </h1>
<p> Son prénom est  "<%= @users[@index.to_i].first_name %>" </p>
<h2>Last Name </h2>
<p> <%= @users[@index.to_i].last_name %> </p>
<h2>Description </h2>
<p> <%= @users[@index.to_i].description %> </p>
<h2>Email </h2>
<p> <%= @users[@index.to_i].email %> </p>
<h2>Age </h2>
<p> <%= @users[@index.to_i].age %> </p>
